extends layout

block content
 h1= title

 form(id='bullForm', action="/resource/bull", method="POST")
   div.form-group
        label.bullAttr(for='Bull_Breed') Bull Breed 
        input#Bull_Breed(type='text', name='Bull_Breed')
   div.form-group
        label.bullAttr(for='Bull_Size') Bull Size
        input#Bull_Size(type='text', name='Bull_Size')
   div.form-group
        label.bullAttr(for='Bull_Value') Bull value
        input#Bull_Value(type='number', name='Bull_Value')
        input(type="submit")
 script.
   document.forms['bullForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });

